@import url(normalize.css);
@import "mixin";

/* Variables */
// HEADER
$header-height: 60px;
$header-font-size: 30px;
$nav-link-width: 200px;
$nav-color: #a8a8a8;
// SECTION
/** Breadcrumb*/
$breadcrumb-height: 30px;
/** product-preview*/
$product-preview-img-width: 300px;
/** product-dscp*/
$product-title-font-size: 20px;
$product-dscp-margin: 10px;
$product-dscp-font: 'Spinnaker',monospace;
$product-dscp-radio-size: 30px;
/** pop*/
$popBtnWidth: 50px;


/* EXTENDS */
// product-dscp
  .selected {
    outline: 1px solid #666;
  }

/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
input, button {
  outline: none;
  border: none;
}
span {
  display: inline-block;
}

/* FONT */
@font-face {
	font-family: 'Spinnaker';
	src: url('fonts/Spinnaker.eot');
	src: url('fonts/Spinnaker.woff') format('woff'), url('fonts/Spinnaker.ttf') format('truetype'), url('fonts/Spinnaker.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?75rkc4');
    src:    url('fonts/icomoon.eot?75rkc4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?75rkc4') format('truetype'),
        url('fonts/icomoon.woff?75rkc4') format('woff'),
        url('fonts/icomoon.svg?75rkc4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e908";
}
/* --------------------------------------- *\
    #HEADER
\* --------------------------------------- */
header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: $header-height;
  font-family: 'Spinnaker', Courier, monospace;
  background-color: #666;

  & .header {
    width: 60%;
    margin: 0 auto;
    line-height: $header-height;
    text-transform: uppercase;

    & .logo {
      float: left;
      color: #fff;
      font-size: $header-font-size;
      letter-spacing: 3px;
    }
    & nav {
      float: right;
      & .nav {
        position: relative;
        display: inline-block;
        width: $nav-link-width;
        text-align: center;

        &:first-child {
          padding-left: 0;
        }

        & a:link, & a:visited {
          color: $nav-color;
        }
        &:hover .nav-link{
          color: #fff;
        }

        & .nav-menu {
          display: none;
          position: absolute;
          z-index: 999;
          top: $header-height;
          left: 0;
          width: $nav-link-width * 2.5;
          font-size: $header-font-size / 2;
          background-color: #666;
          border-top: 1px solid $nav-color;

          & dt {
            width: 30%;
            height: $header-height / 2;
            line-height: $header-height / 2;
            padding-right: 20px;
            float: left;
            text-align: right;
            & a {
              color: #fff;
            }
          }
          & dd {
            width: 70%;
            height: $header-height / 2;
            line-height: $header-height / 2;
            display: inline-block;
            float: right;
            color: $nav-color;
            text-align: left;
            & a {
              margin-right: 10px;

              &:hover {
                color: #fff;
              }
            }
          }

            }
          }
        }

      }
  & .searchBox {
    float: right;
    position: absolute;
    top: $header-height / 4;
    right: 100px;
    height: 100%;

    & input {
      position: absolute;
      right: 0;
      width: 200px;
      height: $header-height / 2;
      text-indent: 1em;
    }
    & i {
      position: absolute;
      z-index: 1;
      top: $header-height / 8;
      right: $header-height / 8;
      color: #a8a8a8;
    }
  }
}

/* --------------------------------------- *\
    #SECTION
\* --------------------------------------- */
section {
  width: 100%;
  overflow: auto;
}
.index-container {
  width: 100%;
  margin: $header-height auto 0;

  & .slider {
    width: 100%;
    background-color: #f1f1f1;

    & .slide-container {
      position: relative;
      overflow: hidden;
      width: 800px;
      height: 450px;
      margin: 0 auto;

      & .slide {
        height: inherit;

        & img {
          float: left;
        }
      }
      & .buttons {
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-left: -50px;
        bottom: 20px;
        width: 100px;
        height: 10px;

        & span {
          float: left;
          width: 10px;
          height: 10px;
          margin-right: 10px;
          @include border-radius(50%);
          background: rgba(0, 0, 0, .5);;
          border: 1px solid #eee;
          cursor: pointer;

          & .on {
            background: red;
          }
        }
      }
      & .arrow {
        position: absolute;
        z-index: 2;
        top: 180px;
        display: none;
        width: 40px;
        height: 40px;
        line-height: 39px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        background-color: rgba(0, 0, 0, .3);
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, .7);
        }
      }
      #prev {
        left: 20px;
      }
      #next {
        right: 20px;
      }
      &:hover .arrow {
        display: block;
      }
    }
  }
  & .news {
    width: 800px;
    margin: $header-height auto 0;

    & .hot-container {
      float: left;
      width: 50%;
      height: 400px;
      margin-bottom: $header-height;

      & .hot {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;

        & img {
          float: left;
          width: 50%;
        }
        & .hot-content {
          float: left;
          width: 40%;
          margin-left: 10px;

          & .hot-title {
            position: relative;
            font-family: 'Spinnaker', monospace;
            text-transform: uppercase;
            color: #fff;
            background-color: #000;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 200px;
              height: 2px;
              background-color: #000;
            }
          }
          & .hot-news {
            font-family: 'Spinnaker', monospace;

            & a:link, a:visited {
              display: inline-block;
              width: 200px;
              height: 60px;
              padding-top: 10px;
              padding-left: 5px;
              color: #000;
            }
            & a:hover {
              color: #fff;
              background-color: rgba(0,0,0, 0.8);
            }
          }
        }
      }
    }
    & .featured {
      float: right;
      width: 50%;
      padding-left: 20px;

      & img {
        float: left;
        width: 50%;
      }
      & .hot-content {
        float: left;
        width: 40%;
        margin-left: 10px;

        & .hot-title {
          position: relative;
          font-family: 'Spinnaker', monospace;
          text-transform: uppercase;
          color: #fff;
          background-color: #000;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 2px;
            background-color: #000;
          }
        }
        & .article-title {
          font-family: 'Spinnaker', monospace;
          text-transform: uppercase;

          & a:link, a:visited {
            display: inline-block;
            width: 200px;
            height: 60px;
            padding-top: 10px;
            padding-left: 5px;
            color: #000;
          }
          & a:hover {
            color: #fff;
            background-color: rgba(0,0,0, 0.8);
          }
        }
        & p {
          width: 200px;
          padding-top: 10px;
          padding-left: 5px;
          font-family: 'Courier New', monospace;
        }
      }
    }
  }
}
.detail-container {
  width: 60%;
  margin: $header-height+$breadcrumb-height auto 0;

  & .breadcrumb {

    & .crumb {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      height: $breadcrumb-height;
      line-height: $breadcrumb-height;
      font-family: 'Courier New', monospace;

      & a:link, & a:visited {
        text-transform: uppercase;
        color: #666;
      }
      & a:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
      &:not(:last-child)::after {
        position: absolute;
        top: 30%;
        right: 0;
        content: '';
        float: right;
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        border: 5px solid transparent;
        border-left: 5px solid #666;
      }
    }
  }
  & .product {
    width: 100%;
    margin-top: $breadcrumb-height;

    & .product-preview {
      float: left;

      & .product-preview-img {
        width: $product-preview-img-width;
        height: $product-preview-img-width + 100px;

        & img {
          width: inherit;
          height: inherit;
        }
      }
      & .zoominBtn {
        display: block;
        height: $product-preview-img-width / 12;
        line-height: $product-preview-img-width / 12;
        margin: 0 auto;
        margin-top: $product-dscp-margin;
        padding: 0 10px;
        text-transform: uppercase;
        font-family: $product-dscp-font;
        font-size: 14px;
        color: #666;
        background-color: #fff;
        border: 1px solid #a8a8a8;
        @include border-radius(10px);

        & i {
          margin-right: 5px;
        }
      }
      & .product-preview-img-sgroup {
        width: inherit;;
        height: 40px;
        margin-top: $header-height / 4;

        & .product-preview-img-s {
          width: 70px;
          height: inherit;
          margin: 0 auto;

          &:hover {
            cursor: pointer;
          }
          & img {
            float: left;
            display: inline-block;
            width: 30px;
            height: 100%;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
        & #tennis-skirt-white, & #tennis-skirt-black, & #tennis-skirt-red, & #tennis-skirt-navy{
          display: none;
        }
      }
    }
    & .product-dscp {
      float: right;
      width: 50%;
      font-family: $product-dscp-font;

      & .product-title, & .price{
        font-size: $product-title-font-size;
      }
      & .labName {
        font-family: $product-dscp-font;
      }
      & .line {
        float: left;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #aeaeae;
        width: 100%;
        margin: $product-dscp-margin 0;
      }
      & form {
        width: 100%;
      }
      & .radioLab {
        display: block;
        float: left;
        margin: $product-dscp-margin;
        width: inherit;
        height: auto;

        & .labName {
          display: inline-block;
        }
        & .choosed {
          display: inline-block;
          font-family: 'Arial', monospace;
          text-transform: capitalize;
        }
        & .color-choices {
          width: inherit;
          height: auto;
          & .color-radio-div {
            float: left;
            width: $product-dscp-radio-size;
            height: $product-dscp-radio-size;
            margin-top: $product-dscp-margin;
            margin-right: $product-dscp-margin;
            border: 1px solid #a8a8a8;

            &:first-child {
              background-color: #550D29;
            }
            &:nth-child(2) {
              background-color: #fefefe;
            }
            &:nth-child(3) {
              background-color: #000;
            }
            &:nth-child(4) {
              background-color: #A02429;
            }
            &:nth-child(5) {
              background-color: #12192F;
            }
            & input {
              width: 100%;
              height: 100%;
              @include opacity(0);
              cursor: pointer;
            }
          }
        }
        & .size-choices {
          width: 100%;

          & .size-radio-div {
            position: relative;
            float: left;
            width: $product-dscp-radio-size + 10px;
            height: $product-dscp-radio-size;
            margin-top: $product-dscp-margin;
            margin-right: $product-dscp-margin;
            line-height: 30px;
            font-family: $product-dscp-font;
            text-align: center;

            & span {
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 1px solid #a8a8a8;
              @include border-radius(3px);
            }
            & input {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              @include opacity(0);
              cursor: pointer;
            }
          }
        }
      }
      & .textLab {
        float: left;
        display: block;
        width: inherit;
        height: auto;
        margin: $product-dscp-margin;

        & .quantity-div {
          width: inherit;
          height: auto;

          & input {
            width: $product-dscp-radio-size + 10px;
            height: $product-dscp-radio-size;
            margin-top: $product-dscp-margin;
            margin-right: $product-dscp-margin;
            text-align: center;
            border: 1px solid #000;
            @include border-radius(3px);
          }
        }

        & .total-price {
          width: inherit;
          padding-top: $product-dscp-margin;
        }
      }
      & .btnLab {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin: $product-dscp-margin;

        & button {
          width: $product-dscp-radio-size * 6;
          height: $product-dscp-radio-size * 1.5;
          color: #fff;
          background-color: #000;
        }
      }
      & .shipping {
        float: left;
        width: 100%;
        height: auto;
        margin: $product-dscp-margin;
        color: #666;
      }
      & .description {
        float: left;
        width: 100%;
        height: auto;
        margin: $product-dscp-margin;

        & span {
          display: block;
        }
        & .description-content {
          margin-top: $product-dscp-margin;
          font-family: 'Arial', monospace;
          color: #666;
        }
      }
    }
  }
}

/* --------------------------------------- *\
    #FOOTER
\* --------------------------------------- */
footer {
  width: 100%;
  height: $header-height * 2;
  // margin-top: $product-dscp-margin;
  background-color: #666;

  .copyright {
    width: 60%;
    margin: 0 auto;
    padding-top: $header-height;
    text-align: center;
    font-family: 'Spinnaker', monospace;
    color: $nav-color;
  }
}

/* --------------------------------------- *\
    #POP
\* --------------------------------------- */
.popBtn {
  float: left;
  width: $popBtnWidth;
  height: $popBtnWidth / 2;
  margin-top: $popBtnWidth / 2;
  margin-left: $popBtnWidth;
  margin-right: 10px;
  color: #fff;
  background-color: #000;
}
