@import url(normalize.css);
/* Variables */
/** Breadcrumb*/
/** product-preview*/
/** product-dscp*/
/* EXTENDS */
.selected {
  outline: 1px solid #666; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

input, button {
  outline: none;
  border: none; }

/* FONT */
@font-face {
  font-family: 'Spinnaker';
  src: url("fonts/Spinnaker.eot");
  src: url("fonts/Spinnaker.woff") format("woff"), url("fonts/Spinnaker.ttf") format("truetype"), url("fonts/Spinnaker.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?75rkc4");
  src: url("fonts/icomoon.eot?75rkc4#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?75rkc4") format("truetype"), url("fonts/icomoon.woff?75rkc4") format("woff"), url("fonts/icomoon.svg?75rkc4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e908"; }

/* --------------------------------------- *\
    #HEADER
\* --------------------------------------- */
header {
  position: relative;
  height: 60px;
  font-family: 'Spinnaker', Courier, monospace;
  background-color: #666; }
  header .header {
    width: 60%;
    margin: 0 auto;
    line-height: 60px;
    text-transform: uppercase; }
    header .header .logo {
      float: left;
      color: #fff;
      font-size: 30px;
      letter-spacing: 3px; }
    header .header nav {
      float: right; }
      header .header nav .nav {
        position: relative;
        display: inline-block;
        width: 200px;
        text-align: center; }
        header .header nav .nav:first-child {
          padding-left: 0; }
        header .header nav .nav a:link, header .header nav .nav a:visited {
          color: #a8a8a8; }
        header .header nav .nav:hover .nav-link {
          color: #fff; }
        header .header nav .nav .nav-menu {
          display: none;
          position: absolute;
          top: 60px;
          left: 0;
          width: 500px;
          font-size: 15px;
          background-color: #666;
          border-top: 1px solid #a8a8a8; }
          header .header nav .nav .nav-menu dt {
            width: 30%;
            height: 30px;
            line-height: 30px;
            padding-right: 20px;
            float: left;
            text-align: right; }
            header .header nav .nav .nav-menu dt a {
              color: #fff; }
          header .header nav .nav .nav-menu dd {
            width: 70%;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            float: right;
            color: #a8a8a8;
            text-align: left; }
            header .header nav .nav .nav-menu dd a {
              margin-right: 10px; }
              header .header nav .nav .nav-menu dd a:hover {
                color: #fff; }
  header .searchBox {
    float: right;
    position: absolute;
    top: 15px;
    right: 100px;
    height: 100%; }
    header .searchBox input {
      position: absolute;
      right: 0;
      width: 200px;
      height: 30px;
      text-indent: 1em; }
    header .searchBox i {
      position: absolute;
      z-index: 1;
      top: 7.5px;
      right: 7.5px;
      color: #a8a8a8; }

/* --------------------------------------- *\
    #SECTION
\* --------------------------------------- */
section {
  width: 100%;
  overflow: auto; }

.container {
  width: 60%;
  margin: 0 auto; }
  .container .breadcrumb {
    margin-top: 30px; }
    .container .breadcrumb .crumb {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      height: 30px;
      line-height: 30px;
      font-family: 'Courier New', monospace; }
      .container .breadcrumb .crumb a:link, .container .breadcrumb .crumb a:visited {
        text-transform: uppercase;
        color: #666; }
      .container .breadcrumb .crumb a:hover {
        color: #000;
        border-bottom: 1px solid #000; }
      .container .breadcrumb .crumb:not(:last-child)::after {
        position: absolute;
        top: 30%;
        right: 0;
        content: '';
        float: right;
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        border: 5px solid transparent;
        border-left: 5px solid #666; }
  .container .product {
    width: 100%;
    margin-top: 30px; }
    .container .product .product-preview {
      float: left; }
      .container .product .product-preview .product-preview-img {
        width: 300px;
        height: 400px; }
        .container .product .product-preview .product-preview-img img {
          width: inherit;
          height: inherit; }
      .container .product .product-preview .zoominBtn {
        display: block;
        height: 25px;
        line-height: 25px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 0 10px;
        text-transform: uppercase;
        font-family: "Britannic", monospace;
        font-size: 14px;
        color: #666;
        background-color: #fff;
        border: 1px solid #a8a8a8;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
        .container .product .product-preview .zoominBtn i {
          margin-right: 5px; }
      .container .product .product-preview .product-preview-img-sgroup {
        width: inherit;
        height: 40px;
        margin-top: 15px; }
        .container .product .product-preview .product-preview-img-sgroup .product-preview-img-s {
          width: 70px;
          height: inherit;
          margin: 0 auto; }
          .container .product .product-preview .product-preview-img-sgroup .product-preview-img-s:hover {
            cursor: pointer; }
          .container .product .product-preview .product-preview-img-sgroup .product-preview-img-s img {
            float: left;
            display: inline-block;
            width: 30px;
            height: 100%;
            margin-right: 10px; }
            .container .product .product-preview .product-preview-img-sgroup .product-preview-img-s img:last-child {
              margin-right: 0; }
        .container .product .product-preview .product-preview-img-sgroup #tennis-skirt-white, .container .product .product-preview .product-preview-img-sgroup #tennis-skirt-black, .container .product .product-preview .product-preview-img-sgroup #tennis-skirt-red, .container .product .product-preview .product-preview-img-sgroup #tennis-skirt-navy {
          display: none; }
    .container .product .product-dscp {
      float: right;
      width: 50%;
      font-family: "Britannic", monospace; }
      .container .product .product-dscp .product-title, .container .product .product-dscp .price {
        font-size: 20px; }
      .container .product .product-dscp .labName {
        font-family: "Britannic", monospace; }
      .container .product .product-dscp .line {
        float: left;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #aeaeae;
        width: 100%;
        margin: 10px 0; }
      .container .product .product-dscp form {
        width: 100%; }
      .container .product .product-dscp .radioLab {
        display: block;
        float: left;
        margin: 10px;
        width: inherit;
        height: auto; }
        .container .product .product-dscp .radioLab .labName {
          display: inline-block; }
        .container .product .product-dscp .radioLab .choosed {
          display: inline-block;
          font-family: 'Arial', monospace;
          text-transform: capitalize; }
        .container .product .product-dscp .radioLab .color-choices {
          width: inherit;
          height: auto; }
          .container .product .product-dscp .radioLab .color-choices .color-radio-div {
            float: left;
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
            border: 1px solid #a8a8a8; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div:first-child {
              background-color: #550D29; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div:nth-child(2) {
              background-color: #fefefe; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div:nth-child(3) {
              background-color: #000; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div:nth-child(4) {
              background-color: #A02429; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div:nth-child(5) {
              background-color: #12192F; }
            .container .product .product-dscp .radioLab .color-choices .color-radio-div input {
              width: 100%;
              height: 100%;
              opacity: 0;
              filter: alpha(opacity=0);
              cursor: pointer; }
        .container .product .product-dscp .radioLab .size-choices {
          width: 100%; }
          .container .product .product-dscp .radioLab .size-choices .size-radio-div {
            position: relative;
            float: left;
            width: 40px;
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
            line-height: 30px;
            font-family: "Britannic", monospace;
            text-align: center; }
            .container .product .product-dscp .radioLab .size-choices .size-radio-div span {
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 1px solid #a8a8a8;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px; }
            .container .product .product-dscp .radioLab .size-choices .size-radio-div input {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              filter: alpha(opacity=0);
              cursor: pointer; }
      .container .product .product-dscp .textLab {
        float: left;
        display: block;
        width: inherit;
        height: auto;
        margin: 10px; }
        .container .product .product-dscp .textLab .quantity-div {
          width: inherit;
          height: auto; }
          .container .product .product-dscp .textLab .quantity-div input {
            width: 40px;
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
            text-align: center;
            border: 1px solid #000;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px; }
        .container .product .product-dscp .textLab .total-price {
          width: inherit;
          padding-top: 10px; }
      .container .product .product-dscp .btnLab {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin: 10px; }
        .container .product .product-dscp .btnLab button {
          width: 180px;
          height: 45px;
          color: #fff;
          background-color: #000; }
      .container .product .product-dscp .shipping {
        float: left;
        width: 100%;
        height: auto;
        margin: 10px;
        color: #666; }
      .container .product .product-dscp .description {
        float: left;
        width: 100%;
        height: auto;
        margin: 10px; }
        .container .product .product-dscp .description span {
          display: block; }
        .container .product .product-dscp .description .description-content {
          margin-top: 10px;
          font-family: 'Arial', monospace;
          color: #666; }

/* --------------------------------------- *\
    #FOOTER
\* --------------------------------------- */
footer {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  background-color: #666; }
  footer .footer {
    width: 60%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    font-family: 'Spinnaker', monospace;
    color: #a8a8a8; }

/* --------------------------------------- *\
    #POP
\* --------------------------------------- */
.pop {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #000; }

.popBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=index.css.map */
