@import url(normalize.css);
@import "mixin";

/* Variables */
// HEADER
$header-height: 60px;
$header-font-size: 30px;
$nav-link-width: 200px;
$nav-color: #a8a8a8;
// SECTION
/** Breadcrumb*/
$breadcrumb-height: 30px;

/* EXTENDS */
//product-preview-img
  .tennis-skirt-black {
    background: url(img/tennis-skirt-black.jpg) no-repeat;
    background-size: cover;
  }
  .tennis-skirt-white {
    background: url(img/tennis-skirt-white.jpg) no-repeat;
    background-size: cover;
  }
  .tennis-skirt-purple {
    background: url(img/tennis-skirt-purple.jpg) no-repeat;
    background-size: cover;
  }
  .tennis-skirt-red {
    background: url(img/tennis-skirt-red.jpg) no-repeat;
    background-size: cover;
  }
  .tennis-skirt-navy {
    background: url(img/tennis-skirt-navy.jpg) no-repeat;
    background-size: cover;
  }
  // .product-preview-img-on {
  //   border: 1px solid #000;
  // }


/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}

/* FONT */
@font-face {
	font-family: 'Spinnaker';
	src: url('fonts/Spinnaker.eot');
	src: url('fonts/Spinnaker.woff') format('woff'), url('fonts/Spinnaker.ttf') format('truetype'), url('fonts/Spinnaker.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* --------------------------------------- *\
    #HEADER
\* --------------------------------------- */
header {
  height: $header-height;
  font-family: 'Spinnaker', Courier, monospace;
  background-color: #666;

  & .header {
    width: 60%;
    margin: 0 auto;
    line-height: $header-height;
    text-transform: uppercase;

    & .logo {
      float: left;
      color: #fff;
      font-size: $header-font-size;
      letter-spacing: 3px;
    }
    & nav {
      float: right;
      & .nav {
        position: relative;
        display: inline-block;
        width: $nav-link-width;
        text-align: center;

        &:first-child {
          padding-left: 0;
        }

        & a:link, & a:visited {
          color: $nav-color;
        }
        &:hover .nav-link{
          color: #fff;
        }

        & .nav-menu {
          display: none;
          position: absolute;
          top: $header-height;
          left: 0;
          width: $nav-link-width * 2.5;
          font-size: $header-font-size / 2;
          background-color: #666;
          border-top: 1px solid $nav-color;

          & dt {
            width: 30%;
            height: $header-height / 2;
            line-height: $header-height / 2;
            padding-right: 20px;
            float: left;
            text-align: right;
            & a {
              color: #fff;
            }
          }
          & dd {
            width: 70%;
            height: $header-height / 2;
            line-height: $header-height / 2;
            display: inline-block;
            float: right;
            color: $nav-color;
            text-align: left;
            & a {
              margin-right: 10px;

              &:hover {
                color: #fff;
              }
            }
          }

            }
          }
        }
      }
    }

/* --------------------------------------- *\
    #SECTION
\* --------------------------------------- */
.container {
  width: 60%;
  margin: 0 auto;

  & .breadcrumb {
    margin-top: $breadcrumb-height;

    & .crumb {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      height: $breadcrumb-height;
      line-height: $breadcrumb-height;
      font-family: 'Courier New', monospace;

      & a:link, & a:visited {
        text-transform: uppercase;
        color: #666;
      }
      & a:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
      &:not(:last-child)::after {
        position: absolute;
        top: 30%;
        right: 0;
        content: '';
        float: right;
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        border: 5px solid transparent;
        border-left: 5px solid #666;
      }
    }
  }
  & .product {
    width: 100%;
    margin-top: $breadcrumb-height;

    & .product-preview {
      float: left;

      & .product-preview-img {
        width: 300px;
        height: 300px;
      }
      & .product-preview-img-sgroup {
        margin: 0 auto;
        margin-top: $header-height / 4;
        width: 70%;

        & .product-preview-img-s {
          float: left;
          width: 40px;
          height: 40px;
          margin: 0 auto;
          @include opacity(.6);

          &:hover {
            @include opacity(1);
            cursor: pointer;
          }
          &:first-child {
            @extend .tennis-skirt-black;
          }
          &:nth-child(2) {
            @extend .tennis-skirt-white;
          }
          &:nth-child(3) {
            @extend .tennis-skirt-purple;
          }
          &:nth-child(4) {
            @extend .tennis-skirt-red;
          }
          &:last-child {
            @extend .tennis-skirt-navy;
          }
        }
      }
    }
    & .product-dscp {
      float: right;
      width: 50%;

      & .radioLab {
        & .labName {
          display: block;
          float: left;
        }
        & .choosed-color {
          display: block;
          float: left;
        }
        & .color-radio-div {
          float: left;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background-color: #666;

          & input {
            width: 100%;
            height: 100%;
            @include opacity(0);
          }
        }
      }
    }
  }
}
