doctype html
html
  head
    meta(charset="utf-8")
    title 表单
    link(rel="stylesheet", type="text/css", href="reg.css")
body
  form(method="get", action="simpleform.asp")
    label 
      span.labspan 姓名：
      input(type="text", name="name")
    label 
      span.labspan 手机号：
      input(type="text", name="telephone")
    label 
      span.labspan 收货地址：
      input(type="text", name="address")
    label
      button 提交
    script.
      var a = 0;
  
